<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/ico" href="{{ staticRoot }}/favicon.ico">
  <link rel="stylesheet"
    href="{{ staticRoot }}/mystery-corp-{{#if cssBuildHash}}{{cssBuildHash}}{{else}}dev{{/if}}.css">
</head>

<body>
  <div id="app">
  </div>
  <script src="{{ staticRoot }}/mystery-corp-{{#if jsBuildHash}}{{ jsBuildHash }}{{else}}dev{{/if}}.js"></script>
</body>

</html>